
body {
    /* feel free to update these css variables for a quick theme */
    
    /* --color1: white;
    --color2: white;
    --color3: white;
    --color4: white;
    --color5: white; */
    
    /* https://coolors.co/generate and click export -> scss to get the colors to copy and paste below*/
        
    /* --color1: hsla(349, 69%, 76%, 1);
    --color2: hsla(207, 67%, 44%, 1);
    --color3: hsla(200, 61%, 56%, 1);
    --color4: hsla(187, 41%, 94%, 1);
    --color5: hsla(170, 28%, 95%, 1); */

    --color1: rgb(248, 224, 4);
    --color2: hsla(135, 65%, 98%, 1);
    --color3: rgb(171, 245, 75);
    --color4: rgb(80, 241, 241);
    --color5: rgba(185, 112, 17, 0.747);
    
    --header-height: 80px;
    --shadow: 0px 10px 20px -12px rgba(0,0,0,0.45);
    --gutter: 30px;
    --footer-height: 25px;
    
    font-family: 'Titillium Web', sans-serif;
    background-color: var(--color5);
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: calc(var(--footer-height));
}

section {
    background-color: var(--color5);
    max-width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: var(--gutter);
    padding-bottom: var(--gutter);
    margin-top: var(--gutter);
    margin-bottom: var(--gutter);
    border: solid 2px var(--color1);
}

header {
    display: flex;
    justify-content: flex-end;
    background-color: var(--color3);
    height: var(--header-height);
    box-shadow: var(--shadow);
}


h2 {
    font-size: 1.8rem;
    font-weight: bold;
}

.gutter-right {
    margin-right: 20px;
}

header img {
    height: var(--header-height);
}

p {
    margin: var(--gutter);
}
  
footer {
    position: fixed;
    width: 100%;
    bottom: 0;
    height: var(--footer-height);
    display: flex;
    justify-content: flex-end;
    background-color: var(--color5);
    box-shadow: var(--shadow);
}

header {
    width: 100%;
    display: flex;
    flex-direction: space-between;
    align-items: center;
    padding: 20px;
    background-color: var(--color2);
}

header button {
    height: 40px;
    width: 150px;
    background-color: rgb(18, 190, 233);
}
.posts {
    display: flex;
    flex-wrap: wrap;
}

.post {
    background-color: var(--color1);
    width: 300px;
    height: 300px;
    margin: 10px;
    padding: 10px;
    box-shadow: rgba(0, 0, 0, 0.20) 0px 5px 0px;

}

.post:nth-child(2n) {
    background-color: var(--color3);
}

.post:nth-child(3n) {
    background-color: var(--color4);
}
.center {
    position:absolute;
    top: 20%;
    left: 30%
    
}